<div class="office">
      <div class="office__menu">
        <ul class="menu__list">
            <li class="menu__item">
            <a href="#vision">vision</a>
            </li>
            <li class="menu__item">
            <a href="#team">team</a>
            </li>
            <li class="menu__item">
            <a href="#contact">contact</a>
            </li>
        </ul>      
      </div>
  <div class="office__main">
    <section id="vision" class="vision">
      <p class="vision__sentence">We enable caring architecture that prioritises
        human interaction and public space.</p>
      <p class="vision__sentence">We advocate for the creation of future-proof
        cities that activelyregenerate resources.
      </p>
      <p class="vision__sentence">We believe that our profession’s skills can be
        used to navigate the complexity of many areas of life.

      </p>
      <p class="vision__sentence">We utilise design thinking to offer advice on
        issues beyond the realm of construction.

      </p>
      <p class="vision__sentence">We critically reflect on our vision and
        continuously learn from its implementation into reality.

      </p>
      <p class="vision__sentence">We do all of the above with our international
        team and in co-creation involving various disciplines, communities,
        politics, economy and technology.

      </p>
      <p class="vision__sentence">___
      </p>
      <p class="vision__sentence">At the end of 2022, BOGDAN & VAN BROECK became
        &bogdan supported by the leadership of Oana Bogdan. After more than 40
        years of practice, including 15 as co-founding partner of BOGDAN & VAN
        BROECK, Leo Van Broeck retired. The new name reflects an evolution from
        our previous name. By bringing “&” to the front, we want to reaffirm our
        openness to cooperation. In practice, only the name of the company
        changes and therefore our domain name: www.bogdan.design (“design” from
        “design thinking”). On social media, we are here: linkedin, instagram,
        facebook.
      </p>
      <div class="img">
        <img src="\img\office\office1.gif" alt="" />
      </div>
    </section>
    <section id="team"  class="team"></section>
    <section id="contact" class="contact">
      <p class="vision__sentence">Rue des Ateliers 19, 1080 Brussels, Belgium</p>
      <div class="wrapper__contact">
        <h3 class="title">Telephone</h3>
        <p class="desc">+32 2 609 00 65</p>
      </div>
      <p class="vision__sentence">In order to streamline our communication,
        please use the appropriate email address:</p>
      <div class="wrapper__contact">
        <h3 class="title">Inquiries</h3>
        <p class="desc">office@bogdan.design</p>
      </div>
      <div class="wrapper__contact">
        <h3 class="title">Public relations</h3>
        <p class="desc">pr@bogdan.design</p>
      </div>
      <div class="wrapper__contact">
        <h3 class="title">Applications</h3>
        <p class="desc">jobs@bogdan.design</p>
      </div>
        <p class="vision__sentence">We only accept applications made by email.
          Your motivation letter, CV and portfolio should be attached as pdf
          files (altogether not exceeding 15 MB).
          <br />
          <br />
          In the subject of your mail, please mention your name and the position
          you are applying for.
          <br />
          <br />
          Privacy notice
          <br />
          Your application to any position is your acceptance we can process
          your personal data for the purpose of carrying out the recruitment
          process and we may hold this data of a period of up to one year,
          unless otherwise requested by you. We assure you that your details
          will be held securely and confidentially, and data will not be shared
          with third parties
        </p>
      <p class="vision__sentence">
        Financial Details <br> <br> 
        VAT: BE 0893 134 131 | RSZ: 1824932-77 | ING
        IBAN | BE75 3630 2411 5351 | BIC BBRUBEBB
        </p>
      
    </section>
  </div>
</div>