<div class="portfolio pd-48-41">
  <div class="section1">
    <div class="content">
      <h3 class="section__heading">
        <span>THE GRID / HANOI AD HOC 1.O EXHIBITION </span>
        <span>Revitalizing Industrial Heritage through Transient Urbanism
          Implementation</span>
      </h3>
      <p class="section__desc">Considered by historian Tim Doling as one of the
        three great colonial railway works built during the early 20th century,
        Gia Lam Train Factory was initially built as a mechanical depot where
        train locomotives underwent maintenance and repair (Doling). Positioned
        strategically at the junction of four prominent rail lines, during its
        lifespan, the factory stood as a material witness of Vietnamese history.
        Not only does the factory serve the movement of goods, with an extended
        network of agents, but it also cultivates the mobility of cultures and
        ideologies that shape Vietnamese subjectivity. Currently being scheduled
        to relocate away from its current site, the factory’s future and
        historical legacy are uncertain and at risk of being eroded under the
        pressure of urban redevelopment In the context of this project “The
        grid”, where the central theme revolves around the concept of
        experimentation in repurposing the factory, we find ourselves immersed
        in a larger narrative of transient urbanism. The architect intended to
        integrate the factory into a process transforming the temporality into
        permanent. This concept of space essentially serves as a manifesto
        against prevailing contemporary construction practices that prioritize
        speed and mass production per capita volume over the preservation of the
        city’s rich industrial legacy. Within the exhibition's realm, the space
        functions as a platform for broader engagement, extending well beyond
        the immediate site. It invites and encourages a critical examination of
        construction methods, retrofitting processes, and the future potential
        of the site through collaborative efforts involving the local community.</p>
    </div>
    <div class="section1__img"><img src="/img/01.jpg" alt="" /></div>

  </div>
  <div class="section2">
    <div class="section2__row1">
      <div class="sectiont2__img"><img
          src="\img\IMG_3248_JPG.avif"
          alt=""
        /></div>
      <div class="content">
        <h3 class="section__heading">
          <span>EUROPAN 17 - BARCELONA -THE INHABITED GARDEN / THIRD PRIZE
          </span>
        </h3>
        <p class="section__desc">The garden has always been an inextricable
          archetype of human settlement, representing a domestication that
          brought stability to life’s endeavors. From the time of nomadic and
          semi-nomadic hunter-gatherers, to global migrations of the modern era,
          gardening has been a tool to adapt new landscapes, to integrate, and
          to truly make a place one’s home. Symbolically, the garden has also
          long represented order, easing inhabitation against a wild and hostile
          landscape “beyond the wall.” Rather than the undefined openness and
          monotonous character that has come to define modernism’s failures,
          this project repositions urban space as a network of productive
          gardens – and the city itself as an inhabited garden. The voids of
          urban planning become opportunities for micro interventions and new
          uses of the intermediate space between buildings, with greater
          publicprivate gradation and multi-dimensional use of space that
          reflects the immigrant spirit of the neighborhood. Inclusive design is
          expanded to include biodiversity and transforming the city into a
          haven for nature and other species. In face of increasing
          commodification of public space, the garden provides an opportunity to
          reimagine collective life, while empowering the neighborhood to
          cultivate self-sufficiency and a more dynamic sense of place.</p>
      </div>
    </div>
    <div class="section2__row2">
      <img src="\img\Untitled-2.avif" alt="" />
    </div>
    <div class="section2__row3">
      <h3 class="section__heading">
        <span>TRUNG MAI IS RECIPIENT OF 2024 PRINCE CLAUS FUND SEED AWARD
        </span>
      </h3>
      <div class="section2__row3__images">
        <img src="\img\section2_row3_1.jpg" alt="" />
        <img src="\img\section2_row3_2.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="section3">
    <div class="video_wrapper">
      <iframe
        src="https://www.youtube.com/embed/Qc-5xbVvJb4?si=VTI_2gwjTg6uIoh-"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <div class="content">
      <h3 class="section__heading">
        <span>EUROPAN 16 - Living City San Dona Veniezia / WINNER
          AgroecologicalCondeser</span>
      </h3>
      <p class="section__desc">The cities have always been the spiritual
        reflection of time. In ancient times, the city’s center was configured
        to carry political, cultural ideologies and foundational democracy which
        are fundamental aspects defining the society. In modern times, our
        culture, civilization, and built environment are facing another
        challenge on a global scale which is climate change and the degradation
        of nature. Hence, beyond creating solely a space for commercial,
        communal activities, restoring the urban ecology system in the city’s
        center is a defining feature that promotes nature-centric urbanization,
        and harmonious cohabitation between humans, nature, and other species.
        The relocation of the bus terminal presents an opportunity to reclaim
        the city’s center as a living and dynamic system that favors and
        stimulates socio-cultural networks of all kinds. As a philosopher,
        Clément Rosset said ”anti-nature is nature anti, a way of defining a
        thing by its natural opposite: the city posited as the opposite of
        nature. The city, hence, would be anti-artificial; it must then recover
        and once again find life, nature, animals, greenery, purity”.</p>
    </div>
  </div>

  <div class="section4">
    <div class="content">
      <h3 class="section__heading">
        <span>IBA 27 Stuttgart</span>
        <span>Quartier West Backnang / Runner up</span>
        <span>Entdeckt! Der Murrpark als anpassungsfähiger Lebensraum für Alle</span>
      </h3>
      <p class="section__desc">
        The city as a park! Backnang West is more than a former industrial area
        on the river. Backnang West is a flood plain formed by the Murr and
        extends from slope edge to slope edge. A geographical unit with its
        logic, its processes and its adaptability. It is our suggestion to trust
        this existing geography and to take it seriously as a holistic park.
        This means, to think of the city quarter in terms of its landscape, its
        topography. More than a finished quarter, we are presenting an
        intervention strategy for a sustainable and changeable living space.
      </p>
    </div>
    <div class="section4__images">
      <img src="\img\BACKNANG.avif" alt="" class="section4__img1" />
      <img src="\img\Image Maquette.avif" alt="" class="section4__img2" />
    </div>
  </div>
  <div class="section5">
    <img src="\img\MUA_view01 20201104.avif" alt="" />
    <div class="content">
      <h3 class="section__heading">
        <span>Korean Museum of Urbanism and Architecture</span>
      </h3>
      <p class="section__desc">
        A conventional museum has been always conceived as an introverted object
        with an extravagant outer skin covering the chained enclosed spaces in
        which arts will be showcased and admired. The ribbon museum investigates
        a fundamental shift in museum typology. It aims to redefine the act of
        exploring by focusing on the outdoor experiences where the surrounding
        landscape will be in the center of attention. It will be an extroverted
        edifice which emphasizes the outdoor experience. Hence, the
        architectonic of the local landscape will be the main actor in the
        scene.
      </p>
    </div>
  </div>
</div>