<div class="variation">
    <div class="grid__wrapper">
       <div class="anh1 tall__4">
        <img src="\img\variation\variation1.jpg" alt="">
       </div>
       <div class="anh2">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh3 big">
        <img src="\img\variation\variation11.jpg" alt="">
       </div>
       <div class="anh4">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh5">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh6">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh7">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh8">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh9 tall__3">
        <img src="\img\variation\variation3.jpg" alt="">
       </div>
       <div class="anh10 tall__3">
        <img src="\img\variation\variation5.jpg" alt="">
       </div>
       <div class="anh11 tall__3">
        <img src="\img\variation\variation15.jpg" alt="">
       </div>
       <div class="anh12">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh13">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh14">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh15">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh16 big__2">
        <img src="\img\variation\variation10.jpg" alt="">
       </div>
       <div class="anh17">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh18 ">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh19 ">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh20">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh21">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh22">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh23 tall__3">
        <img src="\img\variation\variation8.jpg" alt="">
       </div>
       <div class="anh24 tall__3">
        <img src="\img\variation\variation7.jpg" alt="">
       </div>
       <div class="anh25">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh26">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh27">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh28">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh29">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh30 tall__4">
        <img src="\img\variation\variation6.jpg" alt="">
       </div>
       <div class="anh31 big">
        <img src="\img\variation\variation12.jpg" alt="">
       </div>
       <div class="anh32">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh33">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh34 ">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh35">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh36 big float-right">
        <img src="\img\variation\variation14.jpg" alt="">
       </div>
       <div class="anh37">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh38">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh39 ">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh40 tall__3">
        <img src="\img\variation\variation9.jpg" alt="">
       </div>
       <div class="anh41">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh42 big__3">
        <img src="\img\variation\variation2.jpg " alt="">
       </div>
       <div class="anh43">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh44">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh45">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh46">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh47">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh48">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh49">
        {{!-- <img src="" alt=""> --}}
       </div>
       <div class="anh50">
        {{!-- <img src="" alt=""> --}}
       </div>
    </div>
</div>