/* Container mới, đây sẽ là khung định vị chính */
.images-container {
    position: relative;
    width: 620px; 
    max-width: 100%;
    margin: 100px auto 0;
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.work__detail .images {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.work__detail .main__img {
    width: 100%;
    background-color: transparent;
}

.work__detail .main__img img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out;
    background-color: transparent;
    object-fit: cover;
}

.work__detail .main__img img.fade-out {
    opacity: 0;
}

.thumbnail-slider {
    width: 100%; 
    margin-top: 50px;
    position: static;
   
}

.thumbnail-slider .img__item {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
}

.thumbnail-slider .img__item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.6;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.thumbnail-slider .img__item:hover img,
.thumbnail-slider .swiper-slide-thumb-active .img__item img {
    opacity: 1;
    transform: scale(1.1);
}

.swiper-slide-thumb-active{
    border: 1px solid rgba(0,0,0,0.2);
}

.images-container .custom-arrow {
    position: absolute;
    width: 32px;  
    height: 32px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50%; 
    color: #222; /* Màu icon */
    padding: 20px;
}

.images-container .custom-arrow::after {
    font-size: 14px;
    font-weight: 900;
}

.images-container .swiper-button-prev {
    left: 10px; 
    top: 596px
}

.images-container .swiper-button-next {
    right: 10px;
    top: 596px
}

//content
.work__detail_content{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.work__detail_content .title{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 50px;
}