<div class="wrap__footer">
    <div class="container">
        <footer class="footer">
            <div class="footer__copyright">
                <i class="fa-light fa-copyright"></i>
                Vuviva Disclaimer/copyright
            </div>
            <div class="footer__social">
                <ul class="social__list">
                    <a href="" class="social__item"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="social__item"><i class="fa-brands fa-instagram"></i></a>
                </ul>
            </div>
        </footer>
    </div>
</div>