<div class="wrap__header">
    <div class="container">
        <header class="header">
            <div class="logo">
                <a href="/" class="logo_text">Vuvi Va</a>
            </div>
            <div class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="/portfolio">portfolio</a></li>
                    <li class="navbar__item"><a href="/works">works</a></li>
                    <li class="navbar__item"><a href="/variation">variation</a></li>
                    <li class="navbar__item"><a href="/news">news</a></li>
                    <li class="navbar__item"><a href="/office">office</a></li>
                </ul>
            </div>
        </header>
    </div>
</div>
